{% capture club %}
# Meetings  
Thank you for coming to origami club! We'll resume activities in the Fall.
{% endcapture %}

{% capture eboc %}
# Convention  
Thanks to everyone who came to EBOC 2023! Look out for EBOC 2024!
{% endcapture %}

{% capture decal %}
# DeCal  
Register for our amazing origami DeCal!
{% endcapture %}

{% capture about %}
# Who are we?
Our members strive to learn how to fold simple to advanced origami (no experience required!), 
to be able to visualize the geometry of origami, and be able to fold diagrams and "read" crease 
patterns. We also aim to be able to apply the concepts of origami to other use than art (i.e. math, medicine, physics).
![](assets/img/1-photo.jpg) 
![](assets/img/Pots.jpg)
{% endcapture %}

{% capture announcements %}
# Announcements
Announcements are posted on our Instagram and [Discord](https://discord.gg/BERfuzUbFV)!
<div style="max-width: 95%"> {%- include instagram.html -%} </div>
{% endcapture %}

{% capture random %}
{% endcapture %}
