{% capture club %}
# Club
Thank you for coming to origami club! We'll resume activities in the Fall.
{% endcapture %}

{% capture eboc %}
# Convention
Thanks to everyone who came to EBOC 2023! Look out for EBOC 2024!
{% endcapture %}

{% capture decal %}
# DeCal
Register for our amazing origami DeCal!
{% endcapture %}

{% capture about %}
# Who are we?
we are students at Cal that fold origami. wowza!
{% endcapture %}

{% capture announcements %}
# Announcements
More detailed announcements on our discord.
1. asdf
2. qwerty

Eventually, announcements should just fetch instagram
{% endcapture %}

{% capture random %}
{% endcapture %}
