---
---
// initialize
$text-color: #52665f;
$text-color-1: white;
$accent-color: rgb(64,157,141); //#409d8d
$background-color: #fcfcfc;
$background-color-1: lighten($accent-color, 20%);
$navbar-background-color: white;

$breakpoint: 60rem;

//fonts
@font-face {
  font-family: 'YanoneKaffeesatz';
  src: url("/assets/fonts/YanoneKaffeesatz-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("/assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url("/assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$title-font: "Lexend";
$body-font: "Roboto";

// base
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: $title-font;
}

html {
  font-size: 1.1rem;
}

body {
  color: $text-color;
  background: $background-color;
  font-family: "Roboto";
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: calc(0.6 * $breakpoint);
  margin: 1rem auto;
  display: block;
}

// layout
header {
  background: $navbar-background-color;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  font-family: $title-font;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .site-header{
    justify-content: space-between;
    align-items: center;
  }

  .site-logo{
    height: 2rem;
  }

  .site-logo-title-container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .site-title{
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 0 0.5rem;
  }

  .nav-item {
    color: $text-color;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
  }
  .nav-item:hover {
    text-decoration: underline;
  }

  .nav-item-selected {
    color: $accent-color;
  }

  h1 {
    margin-bottom: 0px;
    padding: 0px;
  }
}

footer {
  background: $background-color-1;
  color: $text-color-1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: auto;
}

.main-content {
  padding-top: 0.5rem;
}

.calo-branches-container {
  a {
    text-decoration: none;
  }
  
  .calo-branch:hover {
    box-shadow: 0 0 .5rem $accent-color;
    text-shadow: 0 0 .5rem $text-color-1;

    img {
      filter: invert(100%) drop-shadow(0 0 0.5rem $text-color-1);
    }
  }
}

.calo-branch {
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 8px;
  color: $text-color-1;
  background-color: $background-color-1;
  flex: 1 1 0px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: calc($breakpoint/4);
    filter: invert(100%);
    object-fit: contain;
  } 
}


// misc

.wrapper {
  width: clamp(0rem, 95%, $breakpoint);
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

@media (min-width: $breakpoint) {
  .flex-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
}

.warning {
  background: red;
}
