---
layout: default
---
{% include home.html %}

<div class="calo-branches-container flex-row">
  <a href="/club/">
    <div class="calo-branch">
      <img src="assets/home/mandrake_root.png">
      {{ club | markdownify }}
    </div>
  <a>

  <a href="/eboc/">
    <div class="calo-branch">
      <img src="assets/home/squid.png">
      {{ eboc | markdownify }}
    </div>
  </a>

  <a href="/decal/">
    <div class="calo-branch">
      <img src="assets/home/cp.png">
      {{ decal | markdownify }}
    </div>
  </a>
</div>

{{ content | markdownify }}
