---
layout: default
---
{% include home.html %}

<div class="calo-branches-container flex-row secondary-color">
  <a href="/club/" class="calo-branch">
    <img src="assets/img/home/mandrake_root.png">
    {{ club | markdownify }}
  <a>

  <a href="/eboc/" class="calo-branch">
    <img src="assets/img/home/squid.png">
    {{ eboc | markdownify }}
  </a>

  <a href="/decal/" class="calo-branch">
    <img src="assets/img/home/cp.png">
    {{ decal | markdownify }}
  </a>
</div>

{{ content | markdownify }}
